# Ejercicios Pair Programming 
## Lección 8 - Encoding

En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.

In [66]:
#Librerias

import pandas as pd
from scipy import stats
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder


# Warning
import warnings
warnings.filterwarnings('ignore')

Tras el estudio de Anova solo nos hemos quedado con una variable categórica a la que le realizaremos el encoding. Para practicar el encoding hemos cargado el dataframe de estandarización donde nos aparece otra variable categórica a la que le realizaremos el encoding también.

In [67]:
df_standard = pd.read_csv("supermercado_estandarizado_standard.csv", index_col=0)
df_anova = pd.read_csv("supermercado_anova.csv", index_col=0)

In [68]:
df_standard.head()

,id,year_birth,education,marital_status,income,dt_customer,numdealspurchases,numstorepurchases,numwebvisitsmonth,numwebpurchases_sklearn
0,-1.157073,0.092613,Graduation,Divorced,1.608976,6/16/2014,-0.701068,0.052191,-1.803407,0.363636
1,-1.719067,-0.676627,Graduation,Single,0.264394,6/15/2014,-0.701068,0.361131,-0.142553,0.636364
2,1.506626,-0.933040,Graduation,Married,0.757562,5/13/2014,-0.701068,-0.256748,-1.388194,0.272727
3,-1.292567,-0.163800,Graduation,Together,-0.928642,11/5/2014,-0.701068,-1.183568,0.687874,0.090909
4,-0.065418,1.716564,Graduation,Single,-1.461745,8/4/2014,-0.170569,-1.183568,0.687874,0.272727

Vuestro set de datos debería tener al menos una variable categórica, el objetivo del pair programming de hoy:

Hacer una códificación de la/las variables categóricas que tengáis en vuestro set de datos.

Recordad que lo primero que deberéis hacer es decidir su vuestras variables tienen o no orden, para que en función de esto uséis una aproximación u otra.

### Codificación de la variable categórica "marital_status" en el dataframe Anova

In [69]:
df_anova.head()

,marital_status,income,numdealspurchases,numstorepurchases,numwebvisitsmonth,numwebpurchases_sklearn
0,Divorced,1.608976,-0.701068,0.052191,-1.803407,0.363636
1,Single,0.264394,-0.701068,0.361131,-0.142553,0.636364
2,Married,0.757562,-0.701068,-0.256748,-1.388194,0.272727
3,Together,-0.928642,-0.701068,-1.183568,0.687874,0.090909
4,Single,-1.461745,-0.170569,-1.183568,0.687874,0.272727

Empezaremos por el dataframe del estudio de Anova donde tenemos la variable categórica "marital_status". Analizando el comportamiento de esta variable predictora con la variable respuesta entendemos que los valores únicos de dicha variable si tienen un orden respecto a las compras online, es decir, si hay una relación directa entre tu estado civil y las compras en el supermercado online. 

Partimos de varios supuestos:

1.- YOLO, Single, Alone, Widow y Absurd = se encontrarán en los rangos inferiores en el orden que establezcamos.

2.- Together, Married y Divorced = se encontrarán en los rangos superiores en el orden que establezcamos.

El criterio que establecemos para esta división se basa en una "responsabilidad familiar" y gestión de tiempo en relación a las compras básicas con el uso de la compra online como opción predominante.

La clasificación que hemos decidido es: Absurd - 0, YOLO - 1, Alone - 2, Single - 3, Widow - 4, Together - 5, Married - 6 y Divorced - 7.

Hemos decidio utilizar el método "Ordinal Encoding" porque hemos asignado etiquetas basadas en un orden o jerarquía.

In [70]:
df_anova["marital_status"].unique()

array(['Divorced', 'Single', 'Married', 'Together', 'Widow', 'YOLO',
       'Alone', 'Absurd'], dtype=object)

In [71]:
orden = [ "Absurd", "YOLO", "Alone", "Single", "Widow","Together", "Married", "Divorced"]

In [72]:
def ordinal_encoder1(df, columna, orden_valores):
    
    # iniciamos el método y aplicamos la transformación a los datos. 
    ordinal = OrdinalEncoder(categories = [orden], dtype = int)

    transformados_oe = ordinal.fit_transform(df[[columna]])
    
    # lo convertimos a dataframe
    oe_df = pd.DataFrame(transformados_oe)
    # cambiamos el nombre de la columna
    oe_df.columns = ordinal.feature_names_in_

    columna += "_oe"
    
    # sobre escribimos la columna con los valores de la tranformación
    df[columna] = oe_df
     
    return df

In [73]:
df_anova = ordinal_encoder1(df_anova, "marital_status", orden)

In [74]:
# Visualizamos el nuevo dataframe y observamos que nos aparecen varias filas en las que todos los valores son nulos excepto "marital_status".
df_anova

,marital_status,income,numdealspurchases,numstorepurchases,numwebvisitsmonth,numwebpurchases_sklearn,marital_status_oe
0,Divorced,1.608976,-0.701068,0.052191,-1.803407,0.363636,7.0
1,Single,0.264394,-0.701068,0.361131,-0.142553,0.636364,3.0
2,Married,0.757562,-0.701068,-0.256748,-1.388194,0.272727,6.0
3,Together,-0.928642,-0.701068,-1.183568,0.687874,0.090909,5.0
4,Single,-1.461745,-0.170569,-1.183568,0.687874,0.272727,3.0
...,...,...,...,...,...,...,...
2235,Divorced,NaN,NaN,NaN,NaN,NaN,NaN
2236,Married,NaN,NaN,NaN,NaN,NaN,NaN
2237,Divorced,NaN,NaN,NaN,NaN,NaN,NaN
2238,Married,NaN,NaN,NaN,NaN,NaN,NaN
2239,Married,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# Vemos el total de nulos en el dataframe y observamos que nos aparecen 36 filas con nulos.
df_anova.isnull().sum()

marital_status              0
income                     36
numdealspurchases          36
numstorepurchases          36
numwebvisitsmonth          36
numwebpurchases_sklearn    36
marital_status_oe          36
dtype: int64

In [76]:
# Vemos el total de filas y columnas que contiene el dataframe 
df_anova.shape

(2202, 7)

Después de observar el número de filas con nulos y sus características (todo nulo menos "marital_status") y el total de filas del dataframe, consideramos apropiado eliminar estas 36 filas ya que no aportan ningún tipo de información al estudio.

In [77]:
df_anova.dropna(how="any", axis=0, inplace=True)

In [78]:
df_anova.isnull().sum()

marital_status             0
income                     0
numdealspurchases          0
numstorepurchases          0
numwebvisitsmonth          0
numwebpurchases_sklearn    0
marital_status_oe          0
dtype: int64

In [79]:
# Eliminamos la columna "marital_status" para quedarnos con la que nos da la misma información pero codficada
df_anova.drop(["marital_status"], axis = 1, inplace = True)

In [80]:
df_anova.head()

,income,numdealspurchases,numstorepurchases,numwebvisitsmonth,numwebpurchases_sklearn,marital_status_oe
0,1.608976,-0.701068,0.052191,-1.803407,0.363636,7.0
1,0.264394,-0.701068,0.361131,-0.142553,0.636364,3.0
2,0.757562,-0.701068,-0.256748,-1.388194,0.272727,6.0
3,-0.928642,-0.701068,-1.183568,0.687874,0.090909,5.0
4,-1.461745,-0.170569,-1.183568,0.687874,0.272727,3.0

### Codificación de la variable categórica "education" en el dataframe Standard (bonus)

In [81]:
df_standard["education"].unique()

array(['Graduation', 'PhD', '2n Cycle', 'Master', 'Basic'], dtype=object)

Seguimos con el dataframe Standard donde tenemos la variable categórica "education". Analizando el comportamiento de esta variable predictora con la variable respuesta entendemos que los valores únicos de dicha variable no tienen un orden respecto a las compras online, es decir, no hay una relación directa entre la educación del comprador y las compras en el supermercado online. 

El criterio en el que nos basamos para que esta variable no tenga un orden en relación a la variable respuesta es que las compras online no dependen de tu nivel de estudios (entendemos que es una variable secundaria, es decir, afecta a otras variables que si tienen relación directa con el hecho de comprar online o no).

Decidimos elegir el método "One-Hot Encoding" frente a "Get-dummies" por una precisión a la hora de los resultados.

In [82]:
# vamos a definir una función que nos aplique este método

def one_hot_encoder_one(df,columna,keep_first=True):
    
    # iniciamos el método de OneHot Encoder
    oh = OneHotEncoder()
    
    # hacemos la codificación de los datos para la variable dada 
    transformados = oh.fit_transform(df[[columna]])
    
    # convertimos nuestro array con la codificación hecha en un dataframe
    oh_df = pd.DataFrame(transformados.toarray())

    # el método get_feature_names nos va a dar el nombre de las columnas nuevas que se nos generarán
    oh_df.columns = oh.get_feature_names_out()
    
    # concatenamos el dataframe original con el dataframe que acabamos de crear
    final = pd.concat([df,oh_df],axis=1)
    
    # eliminamos la columna original 
    final.drop(columna, axis = 1,  inplace = True)
    return final

In [83]:
# aplicamos nuestra función al dataset para que nos haga el encoding sobre la columna "education"
df_standard = one_hot_encoder_one(df_standard, "education")

In [84]:
df_standard.head()

,id,year_birth,marital_status,income,dt_customer,numdealspurchases,numstorepurchases,numwebvisitsmonth,numwebpurchases_sklearn,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD
0,-1.157073,0.092613,Divorced,1.608976,6/16/2014,-0.701068,0.052191,-1.803407,0.363636,0.0,0.0,1.0,0.0,0.0
1,-1.719067,-0.676627,Single,0.264394,6/15/2014,-0.701068,0.361131,-0.142553,0.636364,0.0,0.0,1.0,0.0,0.0
2,1.506626,-0.933040,Married,0.757562,5/13/2014,-0.701068,-0.256748,-1.388194,0.272727,0.0,0.0,1.0,0.0,0.0
3,-1.292567,-0.163800,Together,-0.928642,11/5/2014,-0.701068,-1.183568,0.687874,0.090909,0.0,0.0,1.0,0.0,0.0
4,-0.065418,1.716564,Single,-1.461745,8/4/2014,-0.170569,-1.183568,0.687874,0.272727,0.0,0.0,1.0,0.0,0.0

Comprobamos que ahora tenemos diferentes columnas para cada valor único de la columna "education" que corresponde con un 0 a que no está presente dicho valor en las otras columnas y un 1 que si está presente.

Guardad el dataframe, donde deberíais tener las variables estadandarizas, normalizadas y codificadas en un csv para usarlo en el próximo pairprogramming

In [85]:
# Guardamos el dataframe df_anova que es donde hemos codificado la variable categórica que se nos quedó a través del estudio Anova.
df_anova.to_csv("supermercado_encoding.csv")

Happy coding💪🏽