# Ejercicios Pair Programming 
## Lecci√≥n 4 - Tratamiento para ML de Asunciones

En este ejercicio de pair programming seguir√©is usando el dataset que seleccionasteis ayer.

In [1]:
#Librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew
from scipy.stats import kurtosistest
from scipy import stats
from scipy.stats import kstest
# Establecer tama√±o gr√°ficas
plt.rcParams["figure.figsize"] = (10,10)

# Warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("supermercado_limpio.csv", index_col=0)

In [3]:
df.head()

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,numwebpurchases,numcatalogpurchases,numstorepurchases,numwebvisitsmonth
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,4,4,6,1
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,7,3,7,5
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,3,2,5,2
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,1,0,2,7
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,3,1,2,7

El objetivo de este pairprgramming es que evalu√©is si vuestro set de datos cumple todas las asunciones que se deben cumplir para hacer una regresi√≥n lineal. Recordamos que estas asunciones son:

Normalidad (ya la deber√≠ais haber evaluado)

Homogeneidad de varianzas

Independencia de las variables

Cada asunci√≥n la deber√©is testar de forma visual y anal√≠tica.

Happy coding üìàüìäüìâ

#### Normalidad

##### Gr√°ficamente

##### Anal√≠ticamente

#### Homogeneidad de varianzas

##### Gr√°ficamente

##### Anal√≠ticamente

#### Independencia de las variables

##### Gr√°ficamente

##### Anal√≠ticamente

Happy codingüí™üèΩ