# Ejercicios Pair Programming 
## Lecci√≥n 5 - Normalizaci√≥n

En este ejercicio de pair programming seguir√©is usando el dataset que seleccionasteis ayer.

In [2]:
#Librerias

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import researchpy as rp
# Establecer tama√±o gr√°ficas
plt.rcParams["figure.figsize"] = (10,10)

# Warning
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("supermercado_limpio.csv", index_col=0)

In [4]:
df.head()

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,numdealspurchases,numwebpurchases,numstorepurchases,numwebvisitsmonth
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,1,4,6,1
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,1,7,7,5
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,1,3,5,2
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,1,1,2,7
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,2,3,2,7

En vuestro dataset habr√©is identificado unas variables predictoras y una variable respuesta. Los objetivos del pair programming de hoy son:

Sobre la variable respuesta, en pair programmings anterior identificast√©is si segu√≠a una distribuci√≥n normal o no. En caso de que no siguiera una distribuci√≥n normal, normalizarla. Pod√©is usar el m√©todo que prefir√°is o el que mejor se ajuste.

Guardar en un csv el nuevo dataframe que hab√©is creado para seguir us√°ndolo en los siguientes pair programmings

Happy codingüí™üèΩ